*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: grey;
    /* background: linear-gradient();  */
    
}
.addtask:button{
color: red;
background: black;
}